@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
    box-sizing: border-box;
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1400px;
  width: 100%; 
  /* margin: 0 44px 0 55px; */
}

/* DEBUUUUUG SEEEEAAAAARCHHHH FILLLLLLLTER */

.search_fullstack {
  background-color: blueviolet;
  max-width: 769px;
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_filter {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  height: auto;
}

.filter_text {
  /* padding-left: 45px; */
  width: 375px;
  background-color: green;
  font-size: 18px;
  
}

.search_filter ul {
  background-color: aqua;
  width: 375px;
  height: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  
} 

.search_filter li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  width: 49%;
  height: 50px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
 

}

.search_filter i {
  padding: 5px;
  font-size: 22px;
  color: blue;
}

.search_filter li:hover{
  background-color: #5b93e5;
}

.information {
  width: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.information p{
  font-size: 18px;
  width: 350px;
}

.fa-info {
  display: flex;
  color: #0065fc;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  width: 24px;
  height: 24px;
}

/* FIIIIIINNNN SEEEEAAAAARCHHHH FILLLLLLLTER */

/* DEBUGGG FUUUUL STAAAACK HEBERGEMENT ET POPULAIRE */
.Accomo_Pop_Fullstack{
  display: flex;

}

/* DEBUUUUUG PARTIIIIIE HEEEEBERGEEEEEMENT */

/* Debut  Hebergement  */

 /* .accomodation_element{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 880px;
} */

.card_accomodation_implementation{
  width: 420px;
  height: 1500px;
  border-radius: 0px;
 
  background-color: #4cd665;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.title_acco_style{
  font-size: 22px;
  padding-left: 0px;
  
}

.card_acco_space{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 335px;
  height: 1500px;
}

.title_acco_more_style{
  display: none;

}

      /* Carte Hebergement  */


.hebergement {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .card_hebergement {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 334px;
    height: 199px;
    border-radius: 20px;
    background-color: white;
    /* avec overflow je cache le text_accomodation qui déborde de ma carte  */
    overflow: hidden;
  }
  
.text_accomodation {

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px;
  height: 75px;

}

.text_accomodation h4, .text_accomodation p {
  margin: 1px;
}
  
  .img_Hebergement {
    width: 100%;
    height: 124px;
    border: 5px solid white;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
  }
  
  


/* DEBUUUUUG PARTIIIIIIE POPULAIIIIIIRE */


/* En commun sur Hebergement et populaire  */

.Accomo_Pop_Fullstack{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Les étoiles vagabondes  */

.fa-star {
  color: #0065FC;
  font-size: 12px;

}
.gray_star{
  color: #F2F2F2;
}

/* Gestion text_popular des cartes */

.text_popular {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px;
  height: 144px;
}

.text_popular h4,
.text_popular p {
  margin: 0;
}

.text_popular h4 {
  font-weight: 700;
  font-size: 16px;
  
  
}

.text_popular p {
  font-size: 14px;
  padding-bottom: 20px;
}

/* Debut  Populaire  */

.popular_element{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .title_popular {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }

  .fa-chart-line{
    color: #0065FC;
  }


 .card_popular_implementation{
    width: 420px;
    height: 625px;
    border-radius: 0;
    background-color: #F2F2F2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
 }
 
 .title_popu_style{
  font-size: 22px;
 }

 .card_popu_space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 625px;
}



    /* Carte Populaire */

.popular {
  width: 334px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.card_popular {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 343px;
  height: 144px;
  border-radius: 20px;
  background-color: white;

}

.img_popular{
width: 137px;
height: 99%;
object-fit: cover;
border: 5px solid white;
border-radius: 20px 0 0 20px;
}

.text_nostar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;

  
}


    /* Fin Carte Populaire  */