@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
    box-sizing: border-box;
  }

body {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1400px;
  width: 100%; 
  /* margin: 0 44px 0 55px; */
}

/* DEBUUUUUG SEEEEAAAAARCHHHH FILLLLLLLTER */

.search_fullstack {
  background-color: blueviolet;
  max-width: 769px;
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_filter {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  height: auto;
}

.filter_text {
  /* padding-left: 45px; */
  width: 375px;
  background-color: green;
  font-size: 18px;
  
}

.search_filter ul {
  background-color: aqua;
  width: 375px;
  height: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  
} 

.search_filter li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  width: 49%;
  height: 50px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
 

}

.search_filter i {
  padding: 5px;
  font-size: 22px;
  color: blue;
}

.search_filter li:hover{
  background-color: #5b93e5;
}

.information {
  width: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.information p{
  font-size: 18px;
  width: 350px;
}

.fa-info {
  display: flex;
  color: #0065fc;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  width: 24px;
  height: 24px;
}

/* FIIIIIINNNN SEEEEAAAAARCHHHH FILLLLLLLTER */
