/* --------------LES TRUCS EN COMMUN -------------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: var(--main-font);
  }

  :root {
    --main-color: #0065FC;
    --main-font: "Raleway", sans-serif;
    --background-color: #F2F2F2;
    --backcolor-cards: #ffffff;
    --color-border: #d9d9d9;
    --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    --border-radius: 20px;
  }
  
 .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
  }
 
  /* -----------------SECTION HEADER----------------- */

  /* header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  } */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
  
  .logo {
    width: 61px;
    height: 19px;
    cursor: pointer;
    padding-top: 15px;
  }
  
  .logo img {
    max-width: 100%;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .link_nav {
    margin-left: 68px;
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: end;
    padding-top: 30px;
    border-top: 3px solid transparent;
    position: relative
  }
  
  .link_nav:hover {
    border-top: 3px solid var(--main-color);
  }
  

/* -----------------SECTION PREMIERS MOTS----------------- */

h1{
  color: black;
  font-size: 22px;
  padding-top: 63px;
}

#downtown{
  color: black;
  font-size: 16px;
  padding-bottom: 20px;
}

/* -----------------SECTION RECHERCHE-----------------  */

.search{
  display: flex;
  height: 50px;
  
}

#icon{
  display: flex;
  width: 49px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{ 
  height: 18px;
}

.search_input{
  border: 1px;
  border-color: var(--background-color);
  border-style: solid;
  height: 50px;
  align-items: center;
  font-size: 18px;
  padding-left: 17px;
  font-weight: bold;
}

/* sous classe pour Styliser le placeolder   */
.search_input::placeholder{
  color: black;
}

.search_button{
  border: 1px;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--main-color);
  width: 132px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.search_loupe{
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: var(--main-color);
  width: 49px;
  color: var(--backcolor-cards);
  font-size: 18px;
  font-weight: 700;
  text-align: center;

}

/* -----------------SECTION FILTRE DE RECHERCHE----------------- */

.search_fullstack {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.search_filter {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.search_filter ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 840px;
    justify-content: space-around;
}
  
.search_filter h2 {
  font-size: 18px;
  width: 80px;
}

.search_filter li{
    font-size: 17px;
    font-weight: 700;
    padding: 14px 20px 14px 20px;
    border: 2px solid var(--color-border);
    border-radius: 25px;

}

.search_filter i{
  color: var(--main-color);
  font-size: 22px;
  padding-right: 10px;
}
 
.search_filter li:hover{
  background-color: #DEEBFF;
}

.information {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;

}

.fa-info {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
  border: 1px solid var(--color-border);
  border-radius: 25px;
  width: 24px;
  height: 24px;
}

.information p{
  display:flex;
}

/* -----------HEBERGEMENT ET POPULAIRE ----------- */

.card_hebergement, .card_popular {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--backcolor-cards);
}

.Accomo_Pop_Fullstack{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.fa-star {
  color: var(--main-color);
  font-size: 12px;

}
.gray_star{
  color: #F2F2F2;
}

/* -----------------SECTION HEBERGEMENT----------------- */

.card_accomodation_implementation {
  width: 66%;
  height: 625px;
  border-radius: 20px;
  background-color: #F2F2F2;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.title_acco_style{
  font-size: 22px;
  margin: 0;
  padding-bottom: 23px;
}

.card_acco_space{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

 .card_hebergement {
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 199px;
    border-radius: 20px;
    margin-bottom: 30px;
    
  } 

  .img_hebergement {
    width: 100%;
    height: 124px;
    border: 5px solid white;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
  } 

.text_accomodation {
  display: flex;
  flex-flow: column;
  padding-left: 3%;
  padding-top: 4px;
  width: 100% ;
  height: auto;
}

.text_accomodation h4,
.text_accomodation p {
  margin: 0px;
}

.text_accomodation h4 {
  font-weight: 700;
  font-size: 16px;
}

.texte_accomodation p {
  font-size: 14px;
}

.title_acco_more_style{
  font-size: 18px;
  margin-top: 10px;
}

/* -----------------SECTION POPUALIRE-----------------  */

  .title_popular {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-top: 25px;
  }

  .fa-chart-line{
    color: var(--main-color);
  }


 .card_popular_implementation{
    width: 31.5%;
    height: 625px;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
 }
 
 .title_popu_style{
  font-size: 22px;
 }

 .card_popu_space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 625px;
}

.card_popular {
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  width: 80%;
  height: 144px;
  border-radius: 20px;
  margin-bottom: 33px;
}

.img_popular{
width: 40%;
height: 99%;
object-fit: cover;
border: 5px solid white;
border-radius: 20px 0 0 20px;
}

.text_popular {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 5% 0 0 3%;
  width: 55%;
  height: auto;
}

.text_popular h4,
.text_popular p {
  margin: 0;
}

.text_popular h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.text_popular p {
  font-size: 14px;
  padding-bottom: 20px;
}

/* -----------------SECTION ACTIVITE A MARSEILLE----------------- */

.marseille_activity {

  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.marseille_activity h2 {
  font-size: 22px;
  margin-bottom: 18px;
}

.card_activity_implementation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.card_activity {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 21.5%;
  height: 445px;
  background-color: white;
  
}

.img_activity {
  width: 100%;
  height: 376px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.card_activity p {
  font-size: 16px;
  padding-left: 19px;
  font-weight: bold;
}

/* -----------------SECTION FOOTER-----------------  */

footer {
  
  background-color:#F2F2F2;
  width: 100%;
  height: 225px;
}

.footer_implementation{
/*   
  width: 97%;
  height: 97%; */
}

.footer_container {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 30px 0 0 30px; */
  /* max-width: 1400px; */
  padding: 45px 0 0 70px;
  width: 95%;
 
}

.list_footer {
  flex: 1;
  margin-right: 30px;
}

.list_footer:last-child {
  margin-right: 0;
}

.footer h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

li{
  font-size: 16px;
}


a {
  text-decoration: none;
  color: black;
}


/* --------------------------------------------------------------------
---------------------------MEDIA QUERIES---------------------------- 
-----------------------------------------------------------------------*/

/* ----------------- MEDIA QUIERIES 992 ----------------- */

@media screen and (max-width: 992px) {


  .container {
    background: white;
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 0 50px;
  }

  .search_filter{
    width: 100%;
    flex-wrap: nowrap;
  }

  .search_filter ul{
    width: 100%;
    justify-content: space-between;
  }

  .search_filter li{
    display: flex;
    padding: 2% 1% 2% 1%
  }
  .search_filter h2{
    width: 70px;
  }
.Accomo_Pop_Fullstack {
  flex-direction: column;
}

.card_accomodation_implementation{
  width: 100%;
  margin-bottom: 53px;
 
  
}

.title_popular {
  justify-content: space-between;
  padding: 0 35px 0 40px;

}

.card_popular_implementation{
  width: 100%;
  max-height: 278px;
  padding-top: 34px;
}

.card_popu_space{
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0 10px 0 10px;
  
}
.card_popular{
  width: 28%;
}  

.text_popular {
  padding: 4% 2% 4% 2%


}

.text_nostar {
  margin-bottom: -12px;
}


.card_activity {
  width: 182px;
  height: 267px;
}

.img_activity {
  height: 198px;
}

}
/* -----------------MEDIA QUIERIES 768 ----------------- */

@media screen and (min-width: 769px) {

  .search_loupe{
    display: none;
  }
  
}


@media screen and (max-width: 768px) {

.container{
  padding: 0;
  min-width: 375px;
}
  .search_button{
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

 .logo {
  margin-bottom: 10px;
 }

 nav {
  margin: 0 auto;
  text-align: center; 
}

.navigation {
  margin: 0 auto; 
  width: 100%;
  justify-content: space-around;
  position: relative;
  display: flex; 
  margin-top: 20px;
}

.navigation::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #F2F2F2;
}

.link_nav {
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 23px;
  position: relative;
  width: 100%;
  border-bottom: 3px solid transparent;
  border-top: none;
}

.link_nav:hover {
  border-bottom: 3px solid var(--main-color);
  border-top: none;
}

.first_words {
  width: 90%;
  padding-left: 7%;
}


.search_fullstack{
  padding-left: 5px;
  padding-right: 5px;
}

.searchtool {
  
  display: flex;
  justify-content: center;
}

.search_button {
  display: none;
}


.search_filter {
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

}

.search_filter h2 {
  padding-left: 2%;
}

.search_filter ul {
  flex-wrap: wrap;
  justify-content: space-around;
}

.search_filter li {
  font-size: 60%;
  width: 48%;
  align-items: center;
  padding: 3%;
}

.search_filter i{
  padding-right: 5px;
}

.information {
  padding-left: 8%;
  width: 95%;
}

.fa-info {
  margin-right: 1%;
}

.Accomo_Pop_Fullstack {
  flex-direction: column-reverse;
  width: 100%;
}

.title_acco_style {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
}
.card_accomodation_implementation {
  border-radius: 0;
  margin-bottom: 0;
  background-color: var(--backcolor-cards);
  width: 100%;
  height: auto;
  padding: 0;
  
}

.card_acco_space {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 20px;
    padding-right: 20px;
}

.card_hebergement {
  width: 95%;
  
  
}

.title_acco_more_style{
  display: none;
}

.card_popular_implementation {
  border-radius: 0;
  max-height: 625px;
  padding-top: 25px;
  padding-left: 20px;
    padding-right: 20px;
}

.title_popular{
  padding: 0 10px 0 11px;
}  


.card_popu_space {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.card_popular {
  width: 100%;
}

.text_popular {
  padding: 0% 2% 0% 2%;


}

.marseille_activity {
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.marseille_activity h2 {
  padding-left: 10px;
  width: 40%;
  margin-bottom: 0;
}

.card_activity_implementation {
  flex-direction: column;
  
}

.card_activity{
  width: 95%;
  margin-bottom: 25px;
}

footer{
  width: 100%;
  height: auto;
}

.footer_container {
  flex-direction: column;
  padding: 45px 0 0 25px
}

}
