@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: green; */
  }
  
  .container {
    /* background: rgb(252, 182, 107); */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 0 50px;
  }

header {
  
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  
  
}

.logo {
  width: 61px;
  height: 19px; 
}

.logo img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
} 

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 67px;
}

nav a {
  text-decoration: none;
  color: black;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation1 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: end;
}

.navigation2 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: end;
}

.link{
  margin-top: 50px;
}

.navigation1:hover{
  border-top: 3px #0065fc solid;
}

.navigation2:hover{
  border-top: 3px #0065fc solid;
}

h1{
  color: black;
  font-size: 22px;
  padding-top: 63px;
}

#downtown{
  color: black;
  font-size: 16px;
  padding-bottom: 20px;
}

/* Séction du bouton de recherche  */

.search{
  display: flex;
  height: 50px;
}

#icon{
  display: flex;
  width: 49px;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{ 
  height: 18px;
}

.search_input{
  border: 1px;
  border-color: #d9d9d9;
  border-style: solid;
  height: 50px;
  align-items: center;
  font-size: 18px;
  padding-left: 17px;
  font-weight: bold;
}

/* sous classe pour Styliser le placeolder   */
.search_input::placeholder{
  color: black;
}

.search_button{
  border: 1px;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  width: 132px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.search_loupe{
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #0065fc;
  width: 49px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

}

/* Section filtre  */

.search_fullstack {
  width: 100%;
  height: auto;
}

.search_filter{
  display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    margin-top: 25px;
    flex-wrap: wrap;
}

.search_filter ul{
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.search_filter h2{
  font-size: 18px;
  margin-right: 10px;
}

.search_filter li{
  font-size: 17px;
  font-weight: 700;
  padding: 14px 20px 14px 20px;
  /* margin-right: 40px; */
  margin-left: 40px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.search_filter i{
  color: #0065fc;
  font-size: 22px;
  padding-right: 10px;
}
 
.search_filter li:hover{
  background-color: #DEEBFF;
}

.information {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.fa-info {
  display: flex;
  color: #0065fc;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  width: 24px;
  height: 24px;
}

.information p{
  display:flex;
}

/* -----------HEBERGEMENT ET POPULAIRE ----------- */

.Accomo_Pop_Fullstack{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.fa-star {
  color: #0065FC;
  font-size: 12px;

}
.gray_star{
  color: #F2F2F2;
}

/* --------HEBERGEMENT------------- */

 /* .accomodation_element{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 880px;
} */

.card_accomodation_implementation {
  /* margin-right: 20px; */
  width: 66%;
  height: 625px;
  border-radius: 20px;
  background-color: #F2F2F2;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.title_acco_style{
  font-size: 22px;
  margin: 0;
  padding-bottom: 23px;
}

.card_acco_space{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

 .card_hebergement {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 31%;
    height: 199px;
    border-radius: 20px;
    
  } 

  .img_hebergement {
    width: 100%;
    height: 122px;
    border: 5px solid white;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
  } 

  /* Gestion Texte des cartes Hebergement */

.text_accomodation {
  display: flex;
  flex-flow: column;
  padding-left: 5px;
  padding-top: 4px;
  width: 100% ;
  height: 144px;
}

.text_accomodation h4,
.text_accomodation p {
  margin: 0px;
}

.text_accomodation h4 {
  font-weight: 700;
}

.texte_accomodation p {
  font-size: 14px;
}


.title_acco_more_style{
  font-size: 18px;
  margin-top: 40px;
}

/* SECTION POPUALIRE  */

  .title_popular {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-top: 25px;
  }

  .fa-chart-line{
    color: #0065FC;
  }


 .card_popular_implementation{
    width: 31.5%;
    height: 625px;
    /* margin-left: 20px; */
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
 }
 
 .title_popu_style{
  font-size: 22px;
 }

 .card_popu_space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 625px;
}

/* .popular {
  width: 343px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
} */

.card_popular {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  height: 144px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 33px;
  /* overflow: hidden; */
}

.img_popular{
width: 40%;
height: 99%;
object-fit: cover;
border: 5px solid white;
border-radius: 20px 0 0 20px;
}

.text_popular {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px;
  height: 144px;
}

.text_popular h4,
.text_popular p {
  margin: 0;
}

.text_popular h4 {
  font-weight: 700;
  font-size: 16px;
  
  
}

.text_popular p {
  font-size: 14px;
  padding-bottom: 20px;
}




/* div Activité à Marseille */

.marseille_activity {

  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #fcd4f4c7;
}

.marseille_activity h2 {
  font-size: 22px;
  margin-bottom: 18px;
}

.card_activity_implementation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.card_activity {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 21.5%;
  height: 445px;
  border-radius: 20px;
  background-color: white;
  
}


/* .img_activity_container {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
} */

.img_activity {
  width: 100%;
  height: 376px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.card_activity p {
  font-size: 16px;
  padding-left: 19px;
  font-weight: bold;
}

/* Fin div Activité à Marseille */


/* Partie FOOTER  */

footer {
  
  background-color:#F2F2F2;
  width: 100%;
  height: 225px;
}

.footer_implementation{
/*   
  width: 97%;
  height: 97%; */
}

.footer_container {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 30px 0 0 30px; */
  /* max-width: 1400px; */
  padding: 45px 0 0 70px;
  width: 95%;
 
}

.list_footer {
  flex: 1;
  margin-right: 30px;
}

.list_footer:last-child {
  margin-right: 0;
}

.footer h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

li{
  font-size: 16px;
}


a {
  text-decoration: none;
  color: black;
}

/* ---------------------Partie Responsive-----------------------  */

/* SECTION 992 */

@media screen and (max-width: 992px) {

  body{
    /* background-color: red; */
    display: flex;
    align-items: center;
    }
  
  .container{
    max-width: 880px;
    width: 100%;
  }

  
  
  /* SECTION SERCH 992 */

  .search_fullstack {
    /* background-color: blueviolet; */
    max-width: 880px;
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .filter_text {
    padding-right: 20px;
  }
  .search_filter ul {
    /* background-color: aqua; */
    width: 800px;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    padding: 0;
    
  } 
  
  .search_filter li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    /* border: 1px solid #D9D9D9; */
    border-radius: 25px;
    /* width: 160px;
    height: 50px; */
    font-size: 17px;
    /* font-weight: 700; */
    /* margin-bottom: 10px; */
    margin-right: 0;
    margin-left: 0;
   
  
  }
  
  .search_filter i {
    padding: 5px;
    font-size: 22px;
    color: blue;
  }
  
  .search_filter li:hover{
    background-color: #5b93e5;
  }
  
  .information {
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    
  }
  
  .information p{
    font-size: 18px;
    
  }
  
  .fa-info {
    display: flex;
    color: #0065fc;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    width: 24px;
    height: 24px;
  }
 
/* SECTION 992 POPULAIRE  */


.Accomo_Pop_Fullstack{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card_popular_implementation{
      width: 880px;
      height: 278px;
      margin-top: 40px;
     
    }

        .card_popu_space{
      flex-direction: row;
      justify-content: space-between;
      height: 625px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .title_popular {
      
      justify-content:space-between;
      padding-right: 10px;
      padding-left: 10px;
      
    }

    .popular {
      
      width: 252px;
      height: 144px;
      
    }

    .img_popular{
      width: 107px;
      height: 99%;
      object-fit: cover;
      border: 5px solid white;
      border-radius: 20px 0 0 20px;
      } 

    

    .marseille_activity{
      width: 880px;
      height: auto;
    }

    .marseille_activity h2{
      padding: 10px;
    }

    .card_activity{
      width: 182px;
      height: 267px;
      
    }
    .img_activity{
      
      max-width: 182px;
      height: 240px;
    }
 

/* 992 FOOOOOOOOOTER  */

.footer{
 
  width: 880px;
  height: 22px;
}

.footer_implementation{
  width: 880px;

}

.footer_container{
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px ;
}

}
/* _________________________________________________ */
/* -----------RESPONSIVE MOBILE--------------  */
/* _________________________________________________ */


@media screen and (min-width: 769px) {

  .search_loupe{
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .search_button{
    display: none;
  }
  
body{
  /* background-color: red; */
  
  align-items: center;
  }

.container{
  max-width: 420px;
  width: 100%;
}

  header{
    width: 100%;
   
    /* background-color: rgba(49, 207, 49, 0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
   }


   .logo{
    margin-top: 10px;
   }

   nav li {
    margin-left: 0;
  }
  .navigation{
    width: 375px;
  }
  
  .navigation ul{
   width: 100%;
   padding-left: 10px;
    display: flex;
    /* background-color: rgb(101, 165, 222); */
   }
  
  .navigation1 {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: bisque; */
    align-items: none;
    padding-bottom: 10px;
  }
  
  .navigation2 {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: beige; */
    align-items: none;
    padding-bottom: 10px;

  }

  .navigation1:hover {
    border-top: none;
    border-bottom: 3px #0065fc solid;
  }
  
  .navigation2:hover{
    border-top: none;
    border-bottom: 3px #0065fc solid;
  }

  .first_words{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 375px; */
    height: 150px;
  }

  h1{
    padding-top: 10px;
  }

  .accomodation_text {
    display: flex;
    flex-direction: column;
    
    width: 298px;
  }

  .accomodation_text h1{
    font-size: 22px;
  }

  #downtown{
    color: black;
    font-size: 16px;
    padding-bottom: 0;
    
  }

  .searchtool{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .search_input{
    width: 250px;
  }


 /* SEEEEAAAAARCHHHH FILLLLLLLTER */

.search_fullstack {
  /* background-color: blueviolet; */
  max-width: 769px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_filter {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  height: auto;
}

.filter_text {
  /* padding-left: 45px; */
  width: 375px;
  /* background-color: green; */
  font-size: 18px;
  
}

.search_filter ul {
  /* background-color: aqua; */
  width: 375px;
  height: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  
} 

.search_filter li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  width: 49%;
  height: 50px;
  font-size: 12px;
  /* font-weight: 700; */
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
 

}

.search_filter i {
  padding: 5px;
  font-size: 22px;
  color: blue;
}

.search_filter li:hover{
  background-color: #5b93e5;
}

.information {
  width: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.information p{
  font-size: 18px;
  width: 350px;
}

.fa-info {
  display: flex;
  color: #0065fc;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  width: 24px;
  height: 24px;
}
 
 /* DEBUGGG FUUUUL STAAAACK HEBERGEMENT ET POPULAIRE */
.Accomo_Pop_Fullstack{
  display: flex;
  flex-direction:column-reverse;
  justify-content: space-between;
  align-items: center;

}


/* DEBUUUUUG PARTIIIIIE HEEEEBERGEEEEEMENT */

.card_accomodation_implementation{
  /* background-color: #4cd665; */
  width: 420px;
  height: 1500px;
  border-radius: 0px;
  background-color: white;
  padding-left: 20px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.title_acco_style{
  font-size: 22px;
  padding-left: 0px;
  
}

.card_acco_space{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 335px;
  height: 1500px;
}

.title_acco_more_style{
  display: none;

}

      /* Carte Hebergement  */


/* .hebergement {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  } */
  
  /* .card_hebergement {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 334px;
    height: 199px;
    border-radius: 20px;
    
  } */
  
.text_accomodation {

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px;
  height: 75px;

}

.text_accomodation h4, .text_accomodation p {
  margin: 1px;
}
  
  .img_hebergement {
    width: 100%;
    height: 124px;
    border: 5px solid white;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
  }
  
  


/* DEBUUUUUG PARTIIIIIIE POPULAIIIIIIRE */


/* Gestion text_popular des cartes */

.text_popular {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px;
  height: 144px;
}

.text_popular h4,
.text_popular p {
  margin: 0;
}

.text_popular h4 {
  font-weight: 700;
  font-size: 16px;
  
  
}

.text_popular p {
  font-size: 14px;
  padding-bottom: 20px;
}

/* Debut  Populaire  */

.popular_element{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .title_popular {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }

  .fa-chart-line{
    color: #0065FC;
  }


 .card_popular_implementation{
    width: 420px;
    height: 625px;
    border-radius: 0;
    background-color: #F2F2F2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0
 }
 
 .title_popu_style{
  font-size: 22px;
 }

 .card_popu_space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 625px;
}



    /* Carte Populaire */

.popular {
  width: 334px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.card_popular {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 343px;
  height: 144px;
  border-radius: 20px;
  background-color: white;

}

.img_popular{
width: 137px;
height: 99%;
object-fit: cover;
border: 5px solid white;
border-radius: 20px 0 0 20px;
}

.text_nostar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;

  
}


    /* Fin Carte Populaire  */

   /* Responsive Activity */

   .marseille_activity{
    
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    background-color:red ;
    width: 420px;
  }
    
  .card_activity_implementation{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    
    
  }
  
  .card_activity{
    display: flex;
    width: 335px;
    height: 199px;
    margin-bottom: 20px;
    

  }

  .img_activity{
    /* display: none; */
    width:334px ;
    height: 190px;
    /* border-radius: 20px 20px 0 0; */
    object-fit: cover;
  
  }


/* Responsive Footer  */

   footer{
    width: 100%;
    height: auto;
    
   }

   .footer_implementation{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    
   }

   .footer_container{
    display: flex;
    flex-direction: column;
    padding: 0%;
   

   }

  
}
