/* --------------CLASSES EN COMMUN -------------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
  }

  :root {
    --main-color: #0065FC;
    --main-font: "Raleway", sans-serif;
    --background-color: #F2F2F2;
    --backcolor-cards: #ffffff;
    --color-border: #d9d9d9;
    --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    --border-radius: 20px;
  }
  

 .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 0 50px;
  }
 
  /* -----------------SECTION HEADER----------------- */

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}
  
  .logo {
    width: 61px;
    height: auto;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .logo img {
    max-width: 100%;
  }
  
  .navigation {
    display: flex;
    align-items: center;

  }
  
  .link_nav {
    width: 162px;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 48px;
    border-top: 3px solid transparent;
    text-decoration: none;
    
    position: relative
  }
  
  .link_nav:hover {
    border-top: 3px solid var(--main-color);
  
  }

  .navigation a{
    color: black;
    
  }

  .navigation a:hover{
    color:var(--main-color)
  }
  

/* -----------------SECTION PREMIERS MOTS----------------- */

h1{
  color: black;
  font-size: 22px;
  padding-top: 4%;
}

#downtown{
  color: black;
  font-size: 16px;

}

/* -----------------SECTION RECHERCHE-----------------  */

.searchtool {
margin-top: 20px;
}

.search{
  display: flex;
  height: 50px;
  
}

#icon{
  display: flex;
  width: 49px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{ 
  height: 18px;
}

.search_input{
  border: 1px solid var(--background-color);
  height: 50px;
  align-items: center;
  font-size: 18px;
  padding-left: 17px;
  font-weight: bold;
}

.search_input::placeholder{
  color: black;
}

.search_button{
  border: 1px;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--main-color);
  width: 132px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.search_loupe{
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: var(--main-color);
  width: 49px;
  color: var(--backcolor-cards);
  font-size: 18px;
  font-weight: 700;
  text-align: center;

}

/* -----------------SECTION FILTRE DE RECHERCHE----------------- */

.search_fullstack {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.search_filter {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    max-width: 880px;
    justify-content: space-between;
}

.search_filter ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 815px;
    justify-content: space-between;
}
  
.filter_text {
  font-size: 18px;
}

.search_filter li{
  display: flex;
  align-items: center;
    font-size: 17px;
    font-weight: 700;
    padding: 13px 20px 13px 20px;
    border: 2px solid var(--color-border);
    border-radius: 25px;

}

.search_filter i{
  color: var(--main-color);
  font-size: 22px;
  padding-right: 10px;
}
 
.search_filter li:hover{
  background-color: #DEEBFF;
}

.information {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  margin-top: 8px;

}

.fa-info {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
  border: 1px solid var(--color-border);
  border-radius: 25px;
  width: 24px;
  height: 24px;
}

.information p{
  display:flex;
}

/* -----------HEBERGEMENT ET POPULAIRE ----------- */

.card_hebergement, .card_popular {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--backcolor-cards);
}

.Accomo_Pop_Fullstack{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.stars {
  
  display: flex;
  font-size: 12px;
  color: var(--main-color);
  padding-bottom: 12px;
 
}

.gray_star{
  color: #F2F2F2;
}

/* -----------------SECTION HEBERGEMENT----------------- */

.card_accomodation_implementation {
  width: 65%;
  height: 625px;
  border-radius: 20px;
  background-color: #F2F2F2;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.title_acco_style{
  font-size: 22px;
  margin: 0;
  padding-bottom: 23px;
}

.card_acco_space{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card_hebergement {
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 199px;
    border-radius: 20px;
    
    
  } 

  .img_hebergement {
    width: 100%;
    height: 124px;
    border: 5px solid white;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  } 

.text_accomodation {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    width: 100%;
    height: 75px;
    justify-content: space-between;
}

.text_accomodation h4,
.text_accomodation p {
  margin: 0px;
}

.text_accomodation h4 {
  font-weight: 700;
  font-size: 16px;
}

.text_accomodation p {
  font-size: 14px;
}

.title_acco_more_style{
  font-size: 18px;
  margin: 0;
}

/* -----------------SECTION POPUALIRE-----------------  */

  .title_popular {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 23px;
  }

  .fa-chart-line{
    color: var(--main-color);
  }


 .card_popular_implementation{
    width: 31.3%;
    height: 625px;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 0 3% 3% 3%;
 }
 
 .title_popu_style{
  font-size: 22px;
 }

 .card_popu_space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 625px;
}

.card_popular {
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  width: 100%;
  height: 144px;
  border-radius: 20px;
  margin-bottom: 33px;
}

.img_popular{
  width: 40.7%;
  height: auto;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 20px 0 0 20px;
}

.text_popular {
  display: flex;
  flex-flow: column;
  justify-content:space-between;
  padding-left: 4.5%;
  width: 60%;
  height: auto;
  padding-top: 16px;

}

.text_popular h4 {
  margin: 0;
}

.starless {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: auto;
}

.starless h4 {
  padding-bottom: 10px;
}
.starless p {
  margin: 0;
  font-size: 14px;

}

/* -----------------SECTION ACTIVITE A MARSEILLE----------------- */

.marseille_activity {

  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.marseille_activity h2 {
  font-size: 22px;
  margin-bottom: 18px;
}

.card_activity_implementation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.card_activity {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 23.2%;
  height: 445px;
  background-color: white;
  
}

.img_activity {
  width: 100%;
  height: 88%;
  object-fit: cover;
  /* object-position: center; */
  border-radius: 20px 20px 0 0;
  margin-bottom: 5%;
}

.card_activity p {
  font-size: 16px;
  padding-left: 19px;
  font-weight: 700;
}

/* -----------------SECTION FOOTER-----------------  */

footer {
  
    background-color:var(--background-color);
    width: 100%;
    height: 225px;
  }
  
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 0 0 70px;
    width: 95%;
   
  }
  
  .list_footer {
    flex: 1;
    margin-right: 30px;
    height: auto;
  }
  
  .list_footer h3 {
    padding-bottom: 20px;
  }
  
  .list_footer ul li {
    margin-bottom: 12px;
  }
  
  .list_footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  
  .list_footer li{
    font-size: 16px;
  }
  
  
  .list_footer a {
    text-decoration: none;
    color: black;
  }




/* --------------------------------------------------------------------
---------------------------MEDIA QUERIES---------------------------- 
-----------------------------------------------------------------------*/

/* ----------------- MEDIA QUIERIES 992 ----------------- */

@media screen and (max-width: 992px) {

    .container {
        background: white;
        max-width: 992px;
        width:100%;
        margin: 0 auto;
        padding: 0 50px 0 50px;

    }
    .navigation {
      position:relative;
      left: 47px;
    }

    .search_filter{
      max-width: 880px;
    }
    .search_filter ul {
      width: 100%;
    }

    .search_filter li{
        padding: 1.5% 2% 1.5% 2%;
        
    }

    .Accomo_Pop_Fullstack {
        flex-direction: column;
        max-width: 880px;
        width: 100%;
    } 
    
    .card_accomodation_implementation{
        width: 100%;
        margin-bottom: 53px;
    }

    .stars {
      padding-bottom: 12px;
    }

    .title_popular {
        justify-content: space-between;
        margin-top: 0;
        /* padding: 0 35px 0 40px; */
      
    }

    .card_popular_implementation{
        width: 100%;
        max-height: 278px;
        padding-top: 34px;
        justify-content: space-between;
        padding: 40px 40px 48px 40px;
    }

    .title_popu_style {
      margin: 0 ;
      
    }

    .fa-chart-line {
      font-size: 22px;
      
    }
    .card_popu_space{
        flex-direction: row;
        justify-content:space-between;
        width: 100%;
        /* padding: 0 10px 0 10px; */
    }

    .card_popular{
        width: 30.5%;
    }  

    .text_popular {
        padding: 4% 2% 4% 2%  
    }

    .marseille_activity {
      margin-top: 0;
      padding-top: 5.8%;
    }

    .card_activity {
        width: 20.8%;
        height: 267px;
    }

    .card_activity p{
      margin-top: 7%;
    }
    .img_activity {
        height: 198px;
    }

    .marseille_activity h2 {
        margin-bottom: 34px;
    }
      
}

/* ------------ A LOUPE STORY ------------ */

@media screen and (min-width: 769px) {

    .search_loupe {
        display: none;
    }
  
}


/* -----------------MEDIA QUIERIES 768 ----------------- */

@media screen and (min-width: 769px) {

    .search_loupe{
        display: none;
    }
    
  }
  
  
  @media screen and (max-width: 768px) {
  
    .container{
        padding:  0;
        max-width: 768px;
        margin: 0 auto;
        
    }

    .search_button{
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        left: 0;
       
    }

    .link_nav {
        width: 50%;
        padding-top: 48px;
        padding-bottom: 30px;
        border-bottom: 3px solid var(--background-color);
        position: relative
    }

    .link_nav:hover {
        margin-bottom: -3px;
        border-bottom: 3px solid var(--main-color);
        border-top: none
      
    }

    .first_words {
      padding: 0 20px 0 20px;
    }

    .searchtool {
       margin-top: 7%;
    }
    .search {
        display: flex;
        height: 50px;
        flex-direction: row;
        justify-content: center;
    }

    .search_input {
        width: 60%;
    }

    .search_fullstack{
      padding: 0 20px 0 20px;
    }
    .search_filter {
        flex-wrap: wrap;
       
    }

    .search_filter ul {
        flex-wrap: wrap;
    }

    .search_filter li{
        width: 47%;
        font-size: 11px;
        padding: 3% 3% 3% 3%;
    }

    .Accomo_Pop_Fullstack {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .card_accomodation_implementation {
        border-radius: 0;
        width: 100%;
        height: auto;
        background-color: var(--backcolor-cards);
        padding: 0 20px 0 20px;
    }
    
    .title_acco_style{
         padding: 20px 0 20px 0;
    }
    
    .card_hebergement {
        width: 100%;
    }

    .title_acco_more_style {
        display: none;
    }

    .title_popular{
      padding: 0;
      width: 100%;
      padding: 0 20px 0 20px;
      
    }

    .card_popular_implementation {
        border-radius: 0;
        align-items: center;
        padding-top: 0;
    }

    .card_popular_implementation{
        width: 100%;
        height: auto;
        max-height: 625px;
    }

    .card_popu_space {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0 20px 0 20px;
    }

    .card_popular {
        width: 100%;
    }

    .marseille_activity {
        width: 100%;
        margin-top: 0;
        margin-bottom: 10%;
        padding: 0 20px 0 20px;
    }
   
    .marseille_activity h2 {
      width: 50%;
      margin-bottom: 0;
    }
    .card_activity_implementation {
        flex-direction: column;
    }

    .card_activity {
        width: 100%;
        margin-bottom: 10%;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: white;
        
    }
    .footer_container {
        width: 100%;
        height: 501px;
        flex-direction: column;
        padding: 45px 0 0 30px;

        background-color: var(--background-color);
        margin: 0;
    }


  }